<%= form_for @job do |f| %>
  <fieldset class="form-group">
    <%= f.label :title%>
    <%= render partial: 'shared/form_notification', locals: {object: @job, field: :title} %>
    <div>
      <%= f.text_field :title, class: "form-control" %>
    </div>
  </fieldset>

  <fieldset class="form-group">
    <%= f.label :location%>
    <%= render partial: 'shared/form_notification', locals: {object: @job, field: :location} %>
    <div>
      <%= f.text_field :location, class: "form-control", placeholder:"São Paulo - SP" %>
    </div>
  </fieldset>

  <fieldset class="form-group">
    <%= f.label :category_id%>
    <div>
      <%= f.collection_select(:category_id, @categories, :id, :name, class: "form-control") %>
    </div>
  </fieldset>

  <fieldset class="form-group">
    <%= f.label :company_id%>
    <div>
      <%= f.collection_select(:company_id, @companies, :id, :name, class: "form-control") %>
    </div>
  </fieldset>

  <fieldset class="form-group">
    <%= f.label :description%>
    <%= render partial: 'shared/form_notification', locals: {object: @job, field: :description} %>
    <div>
      <%= f.text_area :description, class: "form-control", rows:10%>
    </div>
  </fieldset>

  <fieldset class="form-group">
    <%= f.check_box :featured %>
    <%= f.label :featured %>
  </fieldset>

  <%= f.submit class:'btn btn-primary' %>
<% end %>
