<div class="row">
  <div class="col-md-12">
    <h1><%= @job.title %></h1>
    <div class="jobs-info-icons">
      <span class="job-content-attribute">
        <span class="glyphicon glyphicon glyphicon-tag" aria-hidden="true"></span>
        <%= @job.category.name %>
      </span>
      <span class="job-content-attribute">
        <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>
        <%= @job.company.name %>
      </span>
      <span class="job-content-attribute">
        <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
        <%= @job.location %>
      </span>
      <% if @job.featured? %>
        <span class="job-content-attribute">
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          <strong><%= t :featured, scope: [:activerecord, :attributes, :job] %></strong>
          </span>
        <% end %>

        <% if @job.expired? %>
        <span class="job-content-attribute">
          <span class="label label-danger"><%= t(".expired")%></span>
        </span>
        <% end %>
    </div>
    <hr>
    <div class="jobs-info-description">
      <p class="text-justify"> <%= @job.description %> </p>
    </div>

    <%= link_to t(:"links.back"), root_path %>
  </div>
</div>
